{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block activeabout %}active{% endblock activeabout %}
{% block body %}

<style type="text/css">
  .column {
  float: left;
  width: 25%;
  padding: 0 10px;
  }
</style>
<div class="container">
  <div class="cover-container d-flex h-500 p-3 mx-auto flex-column text-center">
    <main role="main" class="inner cover">
      <h1 class="cover-heading mt-3">About</h1>
      <p class="lead mt-5">We live in a world of misinformation and fake news. The goal of this system is to detect fake news using Deep Learning. This is a Fake News Detection Application that helps users to detect fake news related to US politics. The data set has been scrapped from the website <a href="https://www.politifact.com/factchecks/list/" target="_blank" rel="noopener noreferrer" class="alert-link">PolitiFact</a> and the Deep Learning Model used to build the classification model is Recurrent Neural Networks (LSTM). The Frontend has been made using HTML, CSS and Bootstrap which has been rendered using the Python Flask Framework as the backend. Hope this application is useful to people, Thank you.</p>
    </main>
  </div>
  <center><h3 class="cover-heading mt-3 mb-5">Team Members</h3></center>
  <div class="row">
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="https://media-exp3.licdn.com/dms/image/C5603AQFmX_KcAL5QXg/profile-displayphoto-shrink_400_400/0/1587788607464?e=1629331200&v=beta&t=cBSEYfYxpA2Uyh-Aq46yOGTKXj28DYNWNYGfkrf9kss" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sujith Ramprasad</h5>
          <a href="https://www.linkedin.com/in/sujith-ramprasad-5a6a89194/" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">LinkedIn Profile</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="https://media-exp3.licdn.com/dms/image/C5603AQF8ujI-CuJZRA/profile-displayphoto-shrink_400_400/0/1595425310846?e=1629331200&v=beta&t=ZggZyQnwZjtrq9EkfxHtzsqxuUdsS-7Vatp3LUDEM-U" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Saurav Nambiar</h5>
          <a href="https://www.linkedin.com/in/saurav-nambiar-40590a15b/" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">LinkedIn Profile</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="static/Images/Rishank.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rishank Sharma</h5>
          <a href="https://www.linkedin.com/in/rishank-sharma-1a345a152/" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">LinkedIn Profile</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 18rem;">
        <img src="static/Images/Suhas.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Suhas Srinivas</h5>
          <a href="https://www.linkedin.com/in/suhas-srinivas-988a88194/" target="_blank" rel="noopener noreferrer" class="btn btn-outline-dark">LinkedIn Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
          crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
      -->

  {% endblock body %}